<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506099714873-3r27hlcv5kuijhn9penqfkoik73438rp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506099714873-3r27hlcv5kuijhn9penqfkoik73438rp</string>
	<key>API_KEY</key>
	<string>AIzaSyDOotnnPSnqhjW-Sp1ndeBb_IBeZsXALaU</string>
	<key>GCM_SENDER_ID</key>
	<string>506099714873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pedram.knock-knocked</string>
	<key>PROJECT_ID</key>
	<string>knockknock-32859</string>
	<key>STORAGE_BUCKET</key>
	<string>knockknock-32859.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506099714873:ios:27019e8c1edae60b52f6e8</string>
	<key>DATABASE_URL</key>
	<string>https://knockknock-32859.firebaseio.com</string>
</dict>
</plist>